<div class="row">
    <div ng-if="infoStatus">
        <div ng-if="info.type == 'user'">
            <div class="col-xs-2">
                <img style="width: 100px; border-radius: 5px;" ng-src="{{info.data.photo_max}}" alt="">
            </div>
            <div class="col-xs-6">
                <h3>
                    <a target="_blank" href="https://vk.com/id{{info.id}}">
                        {{info.data.first_name}}
                        {{info.data.last_name}}
                    </a>
                </h3>
                <table class="table wall-table-info">
                    <tbody>
                    <tr>
                        <td>{{ 'FOLLOWERS_COUNT' | translate }}</td>
                        <td><span class="label label-success">{{info.data.followers_count | accounting}}</span></td>
                    </tr>
                    <tr>
                        <td>{{ 'FRIENDS_COUNT' | translate }}</td>
                        <td><span class="label label-success">{{info.friendsCount | accounting}}</span></td>
                    </tr>
                    <tr>
                        <td>{{ 'PHOTOS_COUNT' | translate }}</td>
                        <td><span class="label label-success">{{info.data.counters.photos | accounting}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="info.type == 'group'">
            <div class="col-xs-2">
                <img style="width: 100px; border-radius: 5px;" ng-src="{{info.data.photo_big}}" alt="">
            </div>
            <div class="col-xs-6">
                <h3>
                    <a target="_blank" href="https://vk.com/public{{info.id}}">
                        {{info.data.name}}
                    </a>
                </h3>
                <table class="table wall-table-info">
                    <tbody>
                    <tr>
                        <td>Подписчиков:</td>
                        <td><span class="label label-success">{{info.followersCount | accounting}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<pre>{{info|json}}</pre>-->
</div>