<h1>{{ 'PARSER_TITLE' | translate }} vk.com</h1>
<hr>
<div class="row">
    <div class="col-lg-8">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="vkLink" placeholder="{{ 'WALL_PARSER' | translate}} "
                   id="getIdWall" ng-disabled="actionSearchForm.disabled">
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            ng-click="searchBtnHandler()"
                            ng-disabled="actionSearchButton.disabled"
                            type="button" id="searchData">{{
                        'GO_SEARCH' | translate}}
                    </button>
                </span>
        </div>
    </div>
    <div class="col-lg-4">
        <select name="sortType" id="sortType" class="selectpicker form-control">
            <option value="likes">{{ 'LIKE_SEARCH' | translate }}</option>
            <option value="reposts">{{ 'REPOSTS_SEARCH' | translate }}</option>
            <option value="comments">{{ 'COMMENTS_SEARCH' | translate }}</option>
        </select>
    </div>
</div>
<br>
<div class="loadingStats">
    <div class="row">
        <div class="col-xs-7">
            <wall-parser-info link="vkLink" params="searchParams"></wall-parser-info>
            <!--<pre>{{searchParams| json}}</pre>-->
        </div>
        <div class="col-xs-3">
            <h3>Процесс загрузки:</h3>
            <table class="table wallParser-stats-table">
                <tbody>
                <tr>
                    <td>{{ 'COUNT_POST' | translate }}</td>
                    <td><span class="label label-primary">{{totalPost}}</span></td>
                </tr>
                <tr>
                    <td>{{ 'COUNT_LIKE' | translate }}</td>
                    <td><span class="label label-primary">{{totalLikes}}</span></td>
                </tr>
                <tr>
                    <td>{{ 'COUNT_DOWNLOAD' | translate }}</td>
                    <td><span class="label label-primary">{{totalPeople}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2 text-right">
            <h3>Действия:</h3>
            <div class="btn-group" uib-dropdown>
                <button id="single-button"
                        type="button"
                        class="btn btn-primary"
                        uib-dropdown-toggle
                        ng-disabled="actionDownloadButton.disabled">
                    {{ 'DOWNLOAD_PARSER' | translate }} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
                    <li role="menuitem">
                        <a ng-click="downloadButtonHandlerCsv100('csv', 100)">
                            {{ 'DOWNLOAD_PARSER_CSV_100' | translate }} <b>.csv</b>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="downloadButtonHandlerCsvAll('csv')">
                            {{ 'DOWNLOAD_PARSER_CSV_ALL' | translate }} <b>.csv</b>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="downloadButtonHandlerTxt100('txt', 100)">
                            {{ 'DOWNLOAD_PARSER_TXT_100' | translate }} <b>.txt</b>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a ng-click="downloadButtonHandlerTxtAll('txt')">
                            {{ 'DOWNLOAD_PARSER_TXT_ALL' | translate }} <b>.txt</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="listPeople" ng-if="isShowlistPeople">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'LINK_USER' | translate }}</th>
            <th>{{ 'ID_USER' | translate }}</th>
            <th>{{ 'COUNT_LIKES_BY_USER' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in finishTop100Result track by $index">
            <th scope="row">{{$index + 1}}</th>
            <td>
                <span><img style="max-width: 25px;" ng-src="{{item.data.photo_100}}" alt=""></span>
                <a href="https://vk.com/id{{item.key}}" target="_blank">
                    {{item.data.first_name}} {{item.data.last_name}}
                </a>
            </td>
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br>

