<h1>{{ 'ABOUT_TITLE' | translate }}</h1>
<hr>
<div class="row">
    <div class="col-lg-8">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="groupId" placeholder="{{ 'WALL_PARSER' | translate}} " id="getIdWall">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchBtnHandler()" type="button" id="searchData">{{ 'GO_SEARCH' | translate}}</button>
                </span>
        </div>
    </div>
    <div class="col-lg-4">
        <select name="sortType" id="sortType" class="selectpicker form-control">
            <option value="likes">{{ 'LIKE_SEARCH' | translate }}</option>
            <option value="reposts">{{ 'REPOSTS_SEARCH' | translate }}</option>
            <option value="comments">{{ 'COMMENTS_SEARCH' | translate }}</option>
        </select>
    </div>
</div>
<br>
<div class="loadingStats" ng-if="showloadingStats">
    Всего постов: <span class="label label-primary">{{totalPost}}</span>
    &nbsp;
    &nbsp;
    &nbsp;
    Всего лайков: <span class="label label-primary">{{totalLikes}}</span>
    &nbsp;
    &nbsp;
    &nbsp;
    Всего загружено пользователей: <span class="label label-primary">{{totalPeople}}</span>
</div>
<div class="listPeople"></div>