<h1>{{ 'PARSER_TITLE' | translate }}</h1>
<hr>
<div class="row">
    <div class="col-lg-8">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="groupId" placeholder="{{ 'WALL_PARSER' | translate}} "
                   id="getIdWall">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchBtnHandler()" type="button" id="searchData">{{
                        'GO_SEARCH' | translate}}
                    </button>
                </span>
        </div>
    </div>
    <div class="col-lg-4">
        <select name="sortType" id="sortType" class="selectpicker form-control">
            <option value="likes">{{ 'LIKE_SEARCH' | translate }}</option>
            <option value="reposts">{{ 'REPOSTS_SEARCH' | translate }}</option>
            <option value="comments">{{ 'COMMENTS_SEARCH' | translate }}</option>
        </select>
    </div>
</div>
<br>
<div class="loadingStats" ng-if="showloadingStats">
    {{ 'COUNT_POST' | translate }} <span class="label label-primary">{{totalPost}}</span>
    &nbsp;
    &nbsp;
    &nbsp;
    {{ 'COUNT_LIKE' | translate }} <span class="label label-primary">{{totalLikes}}</span>
    &nbsp;
    &nbsp;
    &nbsp;
    {{ 'COUNT_DOWNLOAD' | translate }} <span class="label label-primary">{{totalPeople}}</span>
</div>
<br>
<div class="listPeople" ng-if="isShowlistPeople">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'ID_USER' | translate }}</th>
            <th>{{ 'COUNT_LIKES_BY_USER' | translate }}</th>
            <th>{{ 'LINK_USER' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in finishResultList track by $index">
            <th scope="row">{{$index + 1}}</th>
            <td><a href="https://vk.com/id{{item.key}}" target="_blank">{{item.data.first_name}} {{item.data.last_name}}</a></td>
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
        </tr>
        </tbody>
    </table>
</div>